@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
<script>
    var deptSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Product/GetDepartments"
            }
        }
    });

    var manuSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Product/GetManufacturers"
            }
        }
    });

    var viewModel = kendo.observable({
        selectedDept: 0,
        selectedManu: 0,
        searchString: "",
        onChange: function () {
            console.log("event :: change");
            $("#listView").data("kendoListView").dataSource.read();
        },
        departments: deptSource,
        manufacturers: manuSource
    });

    kendo.bind($("#filter"), viewModel);

    $(document).ready(function () {
        var listView = $("#listView").kendoListView({
            dataSource: {
                transport: {
                    read: {
                        url: "/Product/Get",
                        data: () => {
                            return {
                                deptId: viewModel.selectedDept, 
                                manuId: viewModel.selectedManu, 
                                name: viewModel.searchString
                            };
                        }
                    },
                    destroy: {
                        url: "/Product/Delete",
                        type: "POST"
                        },
                    update: {
                        url: "/Product/Update",
                        type: "POST",
                        complete: function (e) {
                            $("#listView").data("kendoListView").dataSource.read();
                        }
                    },
                    create: {
                        url: "/Product/Create",
                        type: "POST",
                        complete: function (e) {
                            $("#listView").data("kendoListView").dataSource.read();
                        }
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { nullable: false, editable: false },
                            departmentId: { nullable: false },
                            departmentCode: { nullable: true },
                            manufacturerId: { nullable: false },
                            manufacturerCode: { nullable: true },
                            modelNumber: { nullable: true },
                            description: { nullable: true },
                            price: { nullable: true },
                        }
                    }
                }
            },
            template: kendo.template($("#template0").html()),
            editTemplate: kendo.template($("#editTemplate0").html()),
            remove: (e) => confirmDelete(e, "product")
        });

        $("#deptIdFilter").data("kendoDropDownList").bind("change", (e) => {
            console.log("change: deptId = ", viewModel.selectedDept);
            $("#listView").data("kendoListView").dataSource.read();
        });

        $("#manuIdFilter").data("kendoDropDownList").bind("change", (e) => {
            console.log("change: manuId = ", viewModel.selectedDept);
            $("#listView").data("kendoListView").dataSource.read();
        });

        $("#nameFilter").data("kendoTextBox").bind("change", (e) => {
            console.log("change: name = ", viewModel.searchString);
            $("#listView").data("kendoListView").dataSource.read();
        });
    });

    function addRecord(e) {
        var listView = $("#listView").data("kendoListView");
        listView.add();
    }
</script>

<script type="text/x-kendo-template" id="template0">
    <div class='row'>
        <div class='col-grid-cell-125'><span>#:departmentCode#</span></div>
        <div class='col-grid-cell-125'><span>#:manufacturerCode#</span></div>
        <div class='col-grid-cell-long'><span>#:modelNumber#</span></div>
        <div class='col-grid-cell-long'><span>#:description#</span></div>
        <div class='col-grid-cell'><span>#:price#</span></div>
        <div role='button' class='col-grid-button k-edit-button'><a href='\\#'><i class='fa-solid fa-pen'></i></a></div>
        <div role='button' class='col-grid-button k-delete-button'><a href='\\#'><i class="fa-solid fa-xmark"></i></a></div>
    </div>
</script>

<script type="text/x-kendo-template" id="editTemplate0">
    <div class='row'>
        <div class='col-grid-cell-125'><span><input type="text" class="k-textbox deptId" data-bind="value:departmentId" data-role="dropdownlist" data-source="deptSource" data-text-field="text" data-value-field="value" name="departmentId" id="deptId" /><span></div>
        <div class='col-grid-cell-125'><input type="text" class="k-textbox manuId" data-bind="value:manufacturerId" data-role="dropdownlist" data-source="manuSource" data-text-field="text" data-value-field="value" name="manufacturerId" id="manuId" /></div>
        <div class='col-grid-cell-long'><input type="text" class="k-textbox" data-bind="value:modelNumber" name="modelNumber" /></div>
        <div class='col-grid-cell-long'><input type="text" class="k-textbox" data-bind="value:description" name="description" /></div>
        <div class='col-grid-cell'><input type="text" class="k-textbox" data-bind="value:price" name="price" /></div>
        <div role='button' class='col-grid-button k-update-button'><a href='\\#'><i class='fa-solid fa-check'></i></a></div>
        <div role='button' class='col-grid-button k-cancel-button'><a href='\\#'><i class="fa-solid fa-cancel"></i></a></div>
    </div>
</script>
}

<style>
</style>

<h2>Products</h2>


<div>
    <button id="add-new-button" role="button" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md" href="#" onclick="addRecord(this)">New Product</button>
    <div class="filter-bar" id="filter">
        <input style="max-width:175px" type="text" class="k-textbox deptId" data-role="dropdownlist" data-bind="value: selectedDept, source: departments" data-text-field="text" data-value-field="value" data-option-label="All Departments" id="deptIdFilter" />
        <input style="max-width:175px" type="text" class="k-textbox deptId" data-role="dropdownlist" data-bind="value: selectedManu, source: manufacturers" data-text-field="text" data-value-field="value" data-option-label="All Manufacturers" id="manuIdFilter" />
        <input style="max-width:350px" type="text" class="k-textbox deptId" data-role="textbox" data-bind="value: searchString" id="nameFilter" placeholder="Search for product..."/>
    </div>
</div>


<div class="divider"></div>

<div class="grid-header k-widget k-listview k-listview-bordered">
    <div class='row'>
        <div class='col-grid-cell-125'><span>Department</span></div>
        <div class='col-grid-cell-125'><span>Manufacturer</span></div>
        <div class='col-grid-cell-long'><span>Model Number</span></div>
        <div class='col-grid-cell-long'><span>Description</span></div>
        <div class='col-grid-cell'><span>Price</span></div>
        <div class='col-grid-button'></div>
        <div class='col-grid-button'></div>
    </div>
</div>

<div id="listView" class="container grid-striped">
</div>



