html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

i {
    color: darkgrey
}

.filter-bar {
    display: inline-block;
    white-space: nowrap;
    float: right;
}

.filter-bar-left {
    display: inline-block;
    white-space: nowrap;
}

.filter-bar-label {
    font-weight:bold;
}

.grid-header {
    background-color: rgba(0,0,0,.05);
    font-weight: bold;
}

.grid-striped .row:nth-of-type(even) {
    background-color: rgba(0,0,0,.05);
}

.row {
    padding: 5px;
}

.divider {
    margin: 10px;
}

#listView {
    min-width: 1120px;
}

.grid-header {
    font-size: 12px;
    min-width: 1120px;
}

.grid-striped {
    font-size: 12px;
}

.col-grid-cell {
    width: 80px;
    display: inline-block;
    overflow: hidden;
}

.col-grid-cell-125 {
    width: 125px;
    display: inline-block;
    overflow: hidden;
}

.col-grid-cell-long {
    width: 160px;
    display: inline-block;
    overflow: hidden;
}

.col-grid-cell-200 {
    width: 200px;
    display: inline-block;
    overflow: hidden;
}

.col-grid-cell-360 {
    width: 360px;
    display: inline-block;
    overflow: hidden;
}

.col-grid-cell input {
    width: 100%;
}

.col-grid-button {
    width: 10px;
    display: inline-block;
    overflow: hidden;
}

.k-listview-content {
    overflow-x: hidden;
    max-height:400px;
}

.k-select .k-icon {
    margin-left:-7.5px;
}

.row .k-dropdown {
    width: 100%;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}