@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
<script>
    var viewModel = kendo.observable({
        startDate: null,
        endDate: null,
        product: '',
        onChange: function (e) {
            console.log("event :: change");
            refreshData();
        }
    });

    kendo.bind($("#filter"), viewModel);

    $(document).ready(function () {
        var listView = $("#listView").kendoListView({
            dataSource: {
                transport: {
                    read: {
                        url: "/Inventory/Get",
                        data: () => {
                            return {
                                startDate: kendo.toString(viewModel.startDate, "yyyy-MM-dd"),
                                endDate: kendo.toString(viewModel.endDate, "yyyy-MM-dd"),
                                product: viewModel.product
                            };
                        }
                    },
                    destroy: {
                        url: "/Inventory/Delete",
                        type: "POST"
                        },
                    update: {
                        url: "/Inventory/Update",
                        type: "POST",
                        complete: function (e) {
                            $("#listView").data("kendoListView").dataSource.read();
                        }
                    },
                    create: {
                        url: "/Inventory/Create",
                        type: "POST",
                        complete: function (e) {
                            $("#listView").data("kendoListView").dataSource.read();
                        }
                    },
                    parameterMap: function (data, type) {
                        if (true) {
                            data.asOfDate = kendo.toString(data.asOfDate, "yyyy-MM-dd");
                            return data;
                        }
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { nullable: false, editable: false },
                            productId: { nullable: false },
                            asOfDate: { nullable: false, type: "Date" },
                            description: { nullable: true },
                            quantity: { nullable: true }
                        }
                    }
                }
            },
            template: kendo.template($("#template0").html()),
            editTemplate: kendo.template($("#editTemplate0").html()),
            edit: onEdit
        });
    });

    function addRecord(e) {
        var listView = $("#listView").data("kendoListView");
        listView.add();
    }

    function onEdit() {
        var component = $("#prodId");
        component.kendoDropDownList({
            optionLabel: "Choose...",
            filter: "contains",
            dataTextField: "text",
            dataValueField: "value",
            dataSource: {
                transport: {
                    read: {
                        url: "/Inventory/GetProducts"
                    }
                }
            }
        });
    }
</script>

<script type="text/x-kendo-template" id="template0">
    <div class='row'>
        <div class='col-grid-cell-long'><span>#:kendo.toString(asOfDate,'M/d/yyyy')#</span></div>
        <div class='col-grid-cell-360'><span>#:description#</span></div>
        <div class='col-grid-cell'><span>#:quantity#</span></div>
        <div role='button' class='col-grid-button k-edit-button'><a href='\\#'><i class='fa-solid fa-pen'></i></a></div>
        <div role='button' class='col-grid-button k-delete-button'><a href='\\#'><i class="fa-solid fa-xmark"></i></a></div>
    </div>
</script>

<script type="text/x-kendo-template" id="editTemplate0">
    <div class='row'>
        <div class='col-grid-cell-long'><input type="text" class="k-textbox" data-role='datepicker' data-type="date" data-bind="value:asOfDate" name="asOfDate" id="asOfDate"/></div>
        <div class='col-grid-cell-360'><input type="text" class="k-textbox" data-bind="value:productId" name="productId" id="prodId" /></div>
        <div class='col-grid-cell'><input type="text" class="k-textbox" data-bind="value:quantity" name="quantity" /></div>
        <div role='button' class='col-grid-button k-update-button'><a href='\\#'><i class='fa-solid fa-check'></i></a></div>
        <div role='button' class='col-grid-button k-cancel-button'><a href='\\#'><i class="fa-solid fa-cancel"></i></a></div>
    </div>
</script>
}

<style>
</style>

<h2>Inventory History</h2>

<div>
    <a id="add-new-button" style="max-width:150px" role="button" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md" href="#" onclick="addRecord(this)">Add new record</a>
    <div style="display:inline-block;white-space:nowrap" id="filter">
        <input style="display:inline-block" type="text" class="k-textbox" data-role="datepicker"
               data-bind="value: startDate, events: { change: onChange }" data-type="date" id="startDate" placeholder="From..." />
        <input style="display:inline-block" type="text" class="k-textbox" data-role="datepicker"
               data-bind="value: endDate, events: { change: onChange }" data-type="date" id="endDate" placeholder="To..." />
        <input style="display:inline-block;max-width:200px" type="text" class="k-textbox deptId" data-role="textbox" data-bind="value: product, events: { change: onChange }" id="prodFilter" placeholder="Search for product..." />
    </div>
</div>

<div class="divider"></div>

<div class="grid-header k-widget k-listview k-listview-bordered">
    <div class='row'>
        <div class='col-grid-cell-long'><span>Date</span></div>
        <div class='col-grid-cell-360'><span>Description</span></div>
        <div class='col-grid-cell'><span>Quantity</span></div>
        <div class='col-grid-button'></div>
        <div class='col-grid-button'></div>
    </div>
</div>

<div id="listView" class="container grid-striped">
</div>


